@import url(./fonts.css);

/* Custom props */

:root {
    --primary-orange: #f18128;
    --secondary-white: #fff;
    --links-orange: #ED8E00;
    --dark-blue: #040D1F;
    --Comfortaa: "Comfortaa";
    --Montserrat: "Montserrat";
    --Roboto: "Roboto";
}

/* Global styles */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Conatiner */

.container {
    max-width: 1143px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* BTN */

.all-btn {
    display: inline-block;
    max-width: 166px;
    width: 100%;
    background-color: var(--primary-orange);
    border: 1px solid #000;
    border-radius: 4px;
    font-family: var(--Roboto);
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #000;
    transition: .5s;
}

.all-btn:active {
    background-color: var(--dark-blue);
    color: var(--secondary-white);
    cursor: pointer;
}

/* Title */

.title {
    color: var(--primary-orange);
    font-family: var(--Comfortaa);
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    border-bottom: 2px solid var(--primary-orange);
    width: max-content;
    margin-bottom: 50px;
}


body {
    background-color: var(--dark-blue);
}

/* Site ADS */

.site-ads {
    display: block;
    width: 100%;
    background: linear-gradient(90.09deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-white);
    column-gap: 24px;

}

.ads-text {
    max-width: 166px;
    width: 100%;
    font-family: var(--Comfortaa);
    font-weight: 400;
    font-size: 16px;

}

/* Site ADS */


/* Site header */
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header {
    width: 100%;
    ;
    background: #00000088;
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 99;
}

.site-logo {
    color: var(--secondary-white);
    display: flex;
    column-gap: 5px;
    align-items: flex-end;
    font-size: 18px;
    font-family: var(--Comfortaa);
    font-weight: 700;
    /* padding-top: 29px;
    padding-bottom: 29px; */
}

.site-logo__image {
    width: 103px;
    height: 42px;
    object-fit: cover;
}

.nav {
    display: flex;
    align-items: center;
    /* column-gap: 30px; */
}

.nav-link {
    display: block;
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: var(--secondary-white);
    padding: 42px 12px;
    transition: .5s;
    position: relative;
}

.nav-link:hover {
    color: var(--links-orange);
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--links-orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
    border-radius: 23px 10px 0 0;
}

.nav-link:hover::after {
    width: 100%;
}

/* Site header */

/* Site hero */
.site-hero {
    width: 100%;
    height: 640px;
    position: relative;
}


.site-hero__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.site-hero__content {
    width: 100%;
    height: 640px;
    background: #070F19BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.site-hero__title {
    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 64px;
    color: var(--secondary-white);
}

.site-hero__text {
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 570px;
    width: 100%;
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
}

.site-hero__button {
    display: flex;
    column-gap: 30px;
}

/* Site hero */
/* Site Main */
.films {
    padding-top: 44px;
    padding-bottom: 77px;
}

.films-cards {
    display: flex;
}

.films-card {
    position: relative;
    max-width: 255px;
    width: 100%;
    height: 367px;
    border-radius: 6px;
    overflow: hidden;
}

.films-card__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.films-card__content {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}

.films-card__link {
    color: var(--secondary-white);
    transition: .3s;
}

.films-card__time {
    width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid var(--secondary-white);
    border-radius: 9px;
    text-align: center;
    color: var(--secondary-white);
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    background: #070F1933;
    margin-top: 12px;
    margin-bottom: 30px;
    transition: .3s;
}

.films-card__title {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    color: var(--secondary-white);
}

.films-card__text {
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--secondary-white);
    margin-top: 12px;
}

.films-card__content:hover {
    cursor: pointer;
}

.films-card__content:hover .films-card__link {
    transform: scale(1.4);
}

.films-card__content:hover .films-card__time {
    transform: scale(0);
}

/* Primiers */
.primiers {
    position: relative;
    height: 500px;
}

.primiers-video {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 829px;
    width: 100%;
    z-index: -1;
}

.primiers-content {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.primiers-image {}

.primiers-desc {
    max-width: 558px;
    width: 100%;
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    margin-top: 51px;
    margin-bottom: 55px;
}